[workspace]
resolver = "2"
members = [
    "api",
    "db",
    "db/entity",
    "db/migrations",
    "dto",
    "error",
    "service",
    "security",
    "chess",
    "challenge",
    "tournament",
    "matchmaking",
]


